In [ ]:
# Dependencies to Visualize the model
%matplotlib inline
from IPython.display import Image, SVG
import matplotlib.pyplot as plt
import numpy as np
np.random.seed(0)

In [ ]:
# Filepaths, numpy, and Tensorflow
import os
import numpy as np
import tensorflow as tf

In [ ]:
# Sklearn scaling
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [ ]:
# Keras Specific
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.layers import Dense

In [ ]:
import pandas as pd

url = "https://dataclass-project4.s3.amazonaws.com/fer2013.csv"
df = pd.read_csv(url)

In [ ]:
df.head()

   emotion                                             pixels     Usage
0        0  70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...  Training
1        0  151 150 147 155 148 133 111 140 170 174 182 15...  Training
2        2  231 212 156 164 174 138 161 173 182 200 106 38...  Training
3        4  24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...  Training
4        6  4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...  Training

In [ ]:
# Turning the pixels column into a list of arrays, so each image is an array
X_values = df['pixels'].tolist()
X = []
for i in X_values:
  X_list = [int(x) for x in i.split(' ')]
  X_list = np.asarray(X_list)
  X.append(X_list)

In [ ]:
X = np.asarray(X)

In [ ]:
y_df = pd.get_dummies(df['emotion'])
y_df.head()

y = []
for index, row in y_df.iterrows():
    row_array = np.array(row.values)
    y.append(row_array)
y = np.asarray(y)

In [ ]:
# Splitting the data into training and testing sets
# Before the model creation, you need to reshape X
# Assuming that you have grayscale images of size 48x48
X = X.reshape(-1, 48, 48, 1)  # reshaping into (num_images, 48, 48, 1)

# Now split your data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Convert lists to numpy arrays
y_train = np.array(y_train)
y_test = np.array(y_test)

# Rescale the images
X_train_scaled = X_train / 255
X_test_scaled = X_test / 255

In [ ]:
# Creating the model
from keras.layers import Conv2D, MaxPooling2D, BatchNormalization, Dense, Dropout, Activation, Flatten
model = Sequential()
model.add(Conv2D(64,kernel_size=(3, 3), activation='relu', input_shape=(48,48,1), data_format="channels_last"))
model.add(BatchNormalization())
model.add(MaxPooling2D(pool_size=(2, 2), strides=(2, 2)))
model.add(Dropout(0.4))

model.add(Conv2D(64*2,kernel_size=(3, 3), activation='relu'))
model.add(BatchNormalization())
model.add(MaxPooling2D(pool_size=(2, 2), strides=(2, 2)))
model.add(Dropout(0.4))

model.add(Conv2D(64*4,kernel_size=(3, 3), activation='relu'))
model.add(BatchNormalization())
model.add(MaxPooling2D(pool_size=(2, 2), strides=(2, 2)))
model.add(Dropout(0.4))

model.add(Conv2D(64*8,kernel_size=(3, 3), activation='relu'))
model.add(BatchNormalization())
model.add(MaxPooling2D(pool_size=(2, 2), strides=(2, 2)))
model.add(Dropout(0.4))

model.add(Flatten())

model.add(Dense(8*64, activation='relu'))
model.add(Dropout(0.4))
model.add(Dense(4*64, activation='relu'))
model.add(Dropout(0.4))
model.add(Dense(2*64, activation='relu'))
model.add(Dropout(0.4))

#output layer
model.add(Dense(units=7, activation='softmax'))

In [ ]:
# Compiling the model
model.compile(optimizer='adam',
                loss='categorical_crossentropy',
                metrics=['accuracy'])

In [ ]:
# Fitting the model
model.fit(
    X_train_scaled,
    y_train,
    epochs=100,
    shuffle=True,
    verbose=2
)

Epoch 1/100
898/898 - 21s - loss: 1.7509 - accuracy: 0.3690 - 21s/epoch - 24ms/step
Epoch 2/100
898/898 - 9s - loss: 1.3519 - accuracy: 0.4935 - 9s/epoch - 10ms/step
Epoch 3/100
898/898 - 9s - loss: 1.2299 - accuracy: 0.5390 - 9s/epoch - 10ms/step
Epoch 4/100
898/898 - 9s - loss: 1.1486 - accuracy: 0.5699 - 9s/epoch - 10ms/step
Epoch 5/100
898/898 - 9s - loss: 1.0925 - accuracy: 0.5907 - 9s/epoch - 10ms/step
Epoch 6/100
898/898 - 9s - loss: 1.0268 - accuracy: 0.6155 - 9s/epoch - 10ms/step
Epoch 7/100
898/898 - 9s - loss: 0.9568 - accuracy: 0.6424 - 9s/epoch - 10ms/step
Epoch 8/100
898/898 - 9s - loss: 0.8915 - accuracy: 0.6701 - 9s/epoch - 10ms/step
Epoch 9/100
898/898 - 9s - loss: 0.8332 - accuracy: 0.6939 - 9s/epoch - 10ms/step
Epoch 10/100
898/898 - 9s - loss: 0.7571 - accuracy: 0.7179 - 9s/epoch - 10ms/step
Epoch 11/100
898/898 - 9s - loss: 0.6957 - accuracy: 0.7426 - 9s/epoch - 10ms/step
Epoch 12/100
898/898 - 9s - loss: 0.6428 - accuracy: 0.7654 - 9s/epoch - 10ms/step
Epoch 13/100
898/898 - 9s - loss: 0.5831 - accuracy: 0.7875 - 9s/epoch - 10ms/step
Epoch 14/100
898/898 - 9s - loss: 0.5314 - accuracy: 0.8057 - 9s/epoch - 10ms/step
Epoch 15/100
898/898 - 9s - loss: 0.5018 - accuracy: 0.8179 - 9s/epoch - 10ms/step
Epoch 16/100
898/898 - 11s - loss: 0.4491 - accuracy: 0.8381 - 11s/epoch - 12ms/step
Epoch 17/100
898/898 - 9s - loss: 0.4199 - accuracy: 0.8478 - 9s/epoch - 10ms/step
Epoch 18/100
898/898 - 9s - loss: 0.3835 - accuracy: 0.8600 - 9s/epoch - 10ms/step
Epoch 19/100
898/898 - 9s - loss: 0.3637 - accuracy: 0.8698 - 9s/epoch - 10ms/step
Epoch 20/100
898/898 - 9s - loss: 0.3485 - accuracy: 0.8731 - 9s/epoch - 10ms/step
Epoch 21/100
898/898 - 9s - loss: 0.3179 - accuracy: 0.8870 - 9s/epoch - 10ms/step
Epoch 22/100
898/898 - 9s - loss: 0.3272 - accuracy: 0.8820 - 9s/epoch - 10ms/step
Epoch 23/100
898/898 - 9s - loss: 0.2856 - accuracy: 0.8987 - 9s/epoch - 10ms/step
Epoch 24/100
898/898 - 9s - loss: 0.2825 - accuracy: 0.8995 - 9s/epoch - 11ms/step
Epoch 25/100
898/898 - 9s - loss: 0.2717 - accuracy: 0.9049 - 9s/epoch - 10ms/step
Epoch 26/100
898/898 - 9s - loss: 0.2722 - accuracy: 0.9040 - 9s/epoch - 10ms/step
Epoch 27/100
898/898 - 9s - loss: 0.2468 - accuracy: 0.9132 - 9s/epoch - 10ms/step
Epoch 28/100
898/898 - 9s - loss: 0.2453 - accuracy: 0.9125 - 9s/epoch - 10ms/step
Epoch 29/100
898/898 - 9s - loss: 0.2315 - accuracy: 0.9198 - 9s/epoch - 10ms/step
Epoch 30/100
898/898 - 9s - loss: 0.2302 - accuracy: 0.9202 - 9s/epoch - 10ms/step
Epoch 31/100
898/898 - 9s - loss: 0.2148 - accuracy: 0.9242 - 9s/epoch - 10ms/step
Epoch 32/100
898/898 - 9s - loss: 0.2141 - accuracy: 0.9244 - 9s/epoch - 10ms/step
Epoch 33/100
898/898 - 9s - loss: 0.2260 - accuracy: 0.9212 - 9s/epoch - 10ms/step
Epoch 34/100
898/898 - 9s - loss: 0.2029 - accuracy: 0.9308 - 9s/epoch - 10ms/step
Epoch 35/100
898/898 - 9s - loss: 0.1935 - accuracy: 0.9345 - 9s/epoch - 10ms/step
Epoch 36/100
898/898 - 9s - loss: 0.1912 - accuracy: 0.9309 - 9s/epoch - 10ms/step
Epoch 37/100
898/898 - 9s - loss: 0.1747 - accuracy: 0.9387 - 9s/epoch - 10ms/step
Epoch 38/100
898/898 - 9s - loss: 0.1860 - accuracy: 0.9359 - 9s/epoch - 10ms/step
Epoch 39/100
898/898 - 9s - loss: 0.1800 - accuracy: 0.9379 - 9s/epoch - 10ms/step
Epoch 40/100
898/898 - 9s - loss: 0.1736 - accuracy: 0.9405 - 9s/epoch - 10ms/step
Epoch 41/100
898/898 - 9s - loss: 0.1720 - accuracy: 0.9411 - 9s/epoch - 10ms/step
Epoch 42/100
898/898 - 9s - loss: 0.1684 - accuracy: 0.9438 - 9s/epoch - 10ms/step
Epoch 43/100
898/898 - 9s - loss: 0.1668 - accuracy: 0.9420 - 9s/epoch - 10ms/step
Epoch 44/100
898/898 - 9s - loss: 0.1592 - accuracy: 0.9429 - 9s/epoch - 10ms/step
Epoch 45/100
898/898 - 9s - loss: 0.1623 - accuracy: 0.9428 - 9s/epoch - 10ms/step
Epoch 46/100
898/898 - 9s - loss: 0.1545 - accuracy: 0.9464 - 9s/epoch - 10ms/step
Epoch 47/100
898/898 - 9s - loss: 0.1574 - accuracy: 0.9466 - 9s/epoch - 10ms/step
Epoch 48/100
898/898 - 9s - loss: 0.1556 - accuracy: 0.9472 - 9s/epoch - 10ms/step
Epoch 49/100
898/898 - 9s - loss: 0.1476 - accuracy: 0.9490 - 9s/epoch - 10ms/step
Epoch 50/100
898/898 - 9s - loss: 0.2407 - accuracy: 0.9185 - 9s/epoch - 10ms/step
Epoch 51/100
898/898 - 9s - loss: 0.1284 - accuracy: 0.9554 - 9s/epoch - 10ms/step
Epoch 52/100
898/898 - 9s - loss: 0.1306 - accuracy: 0.9553 - 9s/epoch - 10ms/step
Epoch 53/100
898/898 - 9s - loss: 0.1286 - accuracy: 0.9581 - 9s/epoch - 10ms/step
Epoch 54/100
898/898 - 9s - loss: 0.1361 - accuracy: 0.9539 - 9s/epoch - 10ms/step
Epoch 55/100
898/898 - 9s - loss: 0.1624 - accuracy: 0.9445 - 9s/epoch - 10ms/step
Epoch 56/100
898/898 - 9s - loss: 0.1269 - accuracy: 0.9567 - 9s/epoch - 10ms/step
Epoch 57/100
898/898 - 9s - loss: 0.1311 - accuracy: 0.9550 - 9s/epoch - 10ms/step
Epoch 58/100
898/898 - 9s - loss: 0.1247 - accuracy: 0.9589 - 9s/epoch - 10ms/step
Epoch 59/100
898/898 - 9s - loss: 0.1387 - accuracy: 0.9542 - 9s/epoch - 10ms/step
Epoch 60/100
898/898 - 9s - loss: 0.1392 - accuracy: 0.9527 - 9s/epoch - 10ms/step
Epoch 61/100
898/898 - 9s - loss: 0.1203 - accuracy: 0.9594 - 9s/epoch - 10ms/step
Epoch 62/100
898/898 - 9s - loss: 0.1275 - accuracy: 0.9573 - 9s/epoch - 10ms/step
Epoch 63/100
898/898 - 9s - loss: 0.1259 - accuracy: 0.9575 - 9s/epoch - 10ms/step
Epoch 64/100
898/898 - 9s - loss: 0.1239 - accuracy: 0.9588 - 9s/epoch - 10ms/step
Epoch 65/100
898/898 - 9s - loss: 0.1211 - accuracy: 0.9598 - 9s/epoch - 10ms/step
Epoch 66/100
898/898 - 9s - loss: 0.1184 - accuracy: 0.9599 - 9s/epoch - 10ms/step
Epoch 67/100
898/898 - 9s - loss: 0.1177 - accuracy: 0.9615 - 9s/epoch - 10ms/step
Epoch 68/100
898/898 - 9s - loss: 0.1244 - accuracy: 0.9584 - 9s/epoch - 10ms/step
Epoch 69/100
898/898 - 9s - loss: 0.1192 - accuracy: 0.9604 - 9s/epoch - 10ms/step
Epoch 70/100
898/898 - 9s - loss: 0.1118 - accuracy: 0.9618 - 9s/epoch - 10ms/step
Epoch 71/100
898/898 - 9s - loss: 0.1060 - accuracy: 0.9639 - 9s/epoch - 10ms/step
Epoch 72/100
898/898 - 9s - loss: 0.1084 - accuracy: 0.9637 - 9s/epoch - 10ms/step
Epoch 73/100
898/898 - 9s - loss: 0.1106 - accuracy: 0.9631 - 9s/epoch - 10ms/step
Epoch 74/100
898/898 - 9s - loss: 0.1160 - accuracy: 0.9620 - 9s/epoch - 10ms/step
Epoch 75/100
898/898 - 9s - loss: 0.1058 - accuracy: 0.9641 - 9s/epoch - 10ms/step
Epoch 76/100
898/898 - 9s - loss: 0.1096 - accuracy: 0.9646 - 9s/epoch - 10ms/step
Epoch 77/100
898/898 - 9s - loss: 0.1003 - accuracy: 0.9664 - 9s/epoch - 10ms/step
Epoch 78/100
898/898 - 9s - loss: 0.1050 - accuracy: 0.9663 - 9s/epoch - 10ms/step
Epoch 79/100
898/898 - 9s - loss: 0.0980 - accuracy: 0.9668 - 9s/epoch - 10ms/step
Epoch 80/100
898/898 - 9s - loss: 0.1039 - accuracy: 0.9650 - 9s/epoch - 10ms/step
Epoch 81/100
898/898 - 9s - loss: 0.1049 - accuracy: 0.9655 - 9s/epoch - 10ms/step
Epoch 82/100
898/898 - 9s - loss: 0.1080 - accuracy: 0.9643 - 9s/epoch - 10ms/step
Epoch 83/100
898/898 - 9s - loss: 0.1031 - accuracy: 0.9652 - 9s/epoch - 10ms/step
Epoch 84/100
898/898 - 9s - loss: 0.0974 - accuracy: 0.9683 - 9s/epoch - 10ms/step
Epoch 85/100
898/898 - 9s - loss: 0.0942 - accuracy: 0.9686 - 9s/epoch - 10ms/step
Epoch 86/100
898/898 - 9s - loss: 0.0988 - accuracy: 0.9671 - 9s/epoch - 10ms/step
Epoch 87/100
898/898 - 9s - loss: 0.1044 - accuracy: 0.9644 - 9s/epoch - 10ms/step
Epoch 88/100
898/898 - 9s - loss: 0.0973 - accuracy: 0.9670 - 9s/epoch - 10ms/step
Epoch 89/100
898/898 - 9s - loss: 0.0917 - accuracy: 0.9693 - 9s/epoch - 10ms/step
Epoch 90/100
898/898 - 9s - loss: 0.0930 - accuracy: 0.9700 - 9s/epoch - 10ms/step
Epoch 91/100
898/898 - 9s - loss: 0.0911 - accuracy: 0.9707 - 9s/epoch - 10ms/step
Epoch 92/100
898/898 - 9s - loss: 0.0923 - accuracy: 0.9699 - 9s/epoch - 10ms/step
Epoch 93/100
898/898 - 9s - loss: 0.0910 - accuracy: 0.9706 - 9s/epoch - 10ms/step
Epoch 94/100
898/898 - 9s - loss: 0.0928 - accuracy: 0.9689 - 9s/epoch - 10ms/step
Epoch 95/100
898/898 - 9s - loss: 0.0918 - accuracy: 0.9702 - 9s/epoch - 10ms/step
Epoch 96/100
898/898 - 9s - loss: 0.0876 - accuracy: 0.9722 - 9s/epoch - 10ms/step
Epoch 97/100
898/898 - 9s - loss: 0.0926 - accuracy: 0.9709 - 9s/epoch - 10ms/step
Epoch 98/100
898/898 - 9s - loss: 0.0923 - accuracy: 0.9702 - 9s/epoch - 10ms/step
Epoch 99/100
898/898 - 9s - loss: 0.0913 - accuracy: 0.9691 - 9s/epoch - 10ms/step
Epoch 100/100
898/898 - 9s - loss: 0.0912 - accuracy: 0.9707 - 9s/epoch - 10ms/step

In [ ]:
# Evaluating the model
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

# First time - Loss: 1.9519965648651123, Accuracy: 0.6375035047531128
# Dropout 20% on each layer
# Second time - Loss: 1.2198774814605713, Accuracy: 0.6517135500907898
# Dropout 40% on each layer
# Third time - Loss: 1.1788020133972168, Accuracy: 0.6213430166244507
# Added three dense layers

225/225 - 1s - loss: 1.9520 - accuracy: 0.6375 - 1s/epoch - 5ms/step
Normal Neural Network - Loss: 1.9519965648651123, Accuracy: 0.6375035047531128

In [ ]:
# Saving the model
model.save("emotion_model.h5")

In [ ]:
# Loading the model
from tensorflow.keras.models import load_model
emotion_model = load_model('emotion_model.h5')

In [ ]:
# Making predictions
predicted = emotion_model.predict(X_test_scaled)
predicted = np.argmax(predicted, axis=1)
predicted

225/225 [==============================] - 1s 2ms/step

array([3, 3, 6, ..., 0, 5, 2])

In [ ]:
# Creating a dataframe of the predictions
predicted_df = pd.DataFrame(predicted)
predicted_df = predicted_df.rename(columns={0: "Predicted"})
predicted_df.head()

   Predicted
0          3
1          3
2          6
3          4
4          6

In [ ]:
# Creating a dataframe of the actual values
y_test_actual = np.argmax(y_test, axis=1)

# Creating a dataframe of the actual values
y_test_df = pd.DataFrame(y_test_actual, columns=["Actual"])

y_test_df.head()

   Actual
0       3
1       6
2       0
3       4
4       0

In [ ]:
# Merging the two dataframes
merged_df = pd.merge(y_test_df, predicted_df, left_index=True, right_index=True)
merged_df.head()

   Actual  Predicted
0       3          3
1       6          3
2       0          6
3       4          4
4       0          6

In [ ]:
# Creating a dataframe of the emotions
emotions = ['Angry', 'Disgust', 'Fear', 'Happy', 'Sad', 'Surprise', 'Neutral']
emotions_df = pd.DataFrame(emotions)
emotions_df = emotions_df.rename(columns={0: "Emotions"})
emotions_df.head()

  Emotions
0    Angry
1  Disgust
2     Fear
3    Happy
4      Sad

In [ ]:
# Merging the emotions dataframe with the merged dataframe
merged_df = pd.merge(merged_df, emotions_df, left_on='Actual', right_index=True)
merged_df.head()

    Actual  Predicted Emotions
0        3          3    Happy
11       3          3    Happy
25       3          3    Happy
26       3          3    Happy
31       3          3    Happy

In [ ]:
# Merging the emotions dataframe with the merged dataframe
merged_df = pd.merge(merged_df, emotions_df, left_on='Predicted', right_index=True)
merged_df.head()

    Actual  Predicted Emotions_x Emotions_y
0        3          3      Happy      Happy
11       3          3      Happy      Happy
25       3          3      Happy      Happy
26       3          3      Happy      Happy
31       3          3      Happy      Happy