In [2]:
# Dependencies to Visualize the model
%matplotlib inline
from IPython.display import Image, SVG
import matplotlib.pyplot as plt
import numpy as np
np.random.seed(0)

In [3]:
# Filepaths, numpy, and Tensorflow
import os
import numpy as np
import tensorflow as tf

In [4]:
# Sklearn scaling
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [5]:
# Keras Specific
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.layers import Dense
from keras.preprocessing.image import ImageDataGenerator

In [6]:
import pandas as pd

url = "https://dataclass-project4.s3.amazonaws.com/fer2013.csv"
df = pd.read_csv(url)

In [7]:
# df.head()

   emotion                                             pixels     Usage
0        0  70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...  Training
1        0  151 150 147 155 148 133 111 140 170 174 182 15...  Training
2        2  231 212 156 164 174 138 161 173 182 200 106 38...  Training
3        4  24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...  Training
4        6  4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...  Training

In [8]:
# Turning the pixels column into a list of arrays, so each image is an array
X_values = df['pixels'].tolist()
X = []
for i in X_values:
  X_list = [int(x) for x in i.split(' ')]
  X_list = np.asarray(X_list)
  X.append(X_list)

In [9]:
X = np.asarray(X)

In [10]:
y_df = pd.get_dummies(df['emotion'])
y_df.head()

y = []
for index, row in y_df.iterrows():
    row_array = np.array(row.values)
    y.append(row_array)
y = np.asarray(y)

In [11]:
# Splitting the data into training and testing sets
# Before the model creation, you need to reshape X
# Assuming that you have grayscale images of size 48x48
X = X.reshape(-1, 48, 48, 1)  # reshaping into (num_images, 48, 48, 1)

# Now split your data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Convert lists to numpy arrays
y_train = np.array(y_train)
y_test = np.array(y_test)

# Rescale the images
X_train_scaled = X_train / 255
X_test_scaled = X_test / 255

In [12]:
datagen = ImageDataGenerator(
    rotation_range=20,       # Rotate images randomly within the range [-20, 20] degrees
    width_shift_range=0.2,   # Shift the width of the images randomly by up to 20% of the total width
    height_shift_range=0.2,  # Shift the height of the images randomly by up to 20% of the total height
    shear_range=0.2,         # Apply shear transformations randomly within the range [-0.2, 0.2]
    zoom_range=0.2,          # Randomly zoom into images by up to 20%
    horizontal_flip=True,    # Flip images horizontally
    fill_mode='nearest'      # Fill any newly created pixels after rotation or width/height shift
)

In [13]:
# Create a generator for training data
train_generator = datagen.flow(X_train_scaled, y_train, batch_size=32)
# Create a generator for validation data
validation_generator = datagen.flow(X_test_scaled, y_test, batch_size=32)

In [15]:
# Creating the model
from keras.models import Sequential
from keras.layers import Conv2D, MaxPooling2D, BatchNormalization, Dense, Dropout, Activation, Flatten

model = Sequential()

model.add(Conv2D(64,kernel_size=(3, 3), activation='relu', input_shape=(48,48,1), data_format="channels_last"))
model.add(BatchNormalization())
model.add(MaxPooling2D(pool_size=(2, 2), strides=(2, 2)))
model.add(Dropout(0.5))

model.add(Conv2D(64*2,kernel_size=(3, 3), activation='relu'))
model.add(BatchNormalization())
model.add(Conv2D(64*2,kernel_size=(3, 3), activation='relu'))
model.add(BatchNormalization())
model.add(MaxPooling2D(pool_size=(2, 2), strides=(2, 2)))
model.add(Dropout(0.5))

model.add(Conv2D(64*4,kernel_size=(3, 3), activation='relu'))
model.add(BatchNormalization())
model.add(Conv2D(64*4,kernel_size=(3, 3), activation='relu'))
model.add(BatchNormalization())
model.add(MaxPooling2D(pool_size=(2, 2), strides=(2, 2)))
model.add(Dropout(0.5))

model.add(Conv2D(64*8,kernel_size=(3, 3), activation='relu',padding='same'))
model.add(BatchNormalization())
model.add(Conv2D(64*8,kernel_size=(3, 3), activation='relu',padding='same'))
model.add(BatchNormalization())
model.add(MaxPooling2D(pool_size=(2, 2), strides=(2, 2)))
model.add(Dropout(0.5))

model.add(Flatten())

model.add(Dense(8*64, activation='elu'))
model.add(Dropout(0.4))
model.add(Dense(4*64, activation='elu'))
model.add(Dropout(0.4))
model.add(Dense(2*64, activation='elu'))
model.add(Dropout(0.4))

#output layer
model.add(Dense(units=7, activation='softmax'))

In [ ]:
# model.summary()

In [16]:
# Compiling the model
model.compile(optimizer='Adam',
                loss='categorical_crossentropy',
                metrics=['accuracy'])

In [14]:
# Fitting the model
model.fit(
    train_generator,
    epochs=100,
    validation_data=validation_generator
    shuffle=True,
    verbose=2
)

Epoch 1/100
898/898 - 23s - loss: 1.9634 - accuracy: 0.3228 - 23s/epoch - 26ms/step
Epoch 2/100
898/898 - 10s - loss: 1.4846 - accuracy: 0.4403 - 10s/epoch - 11ms/step
Epoch 3/100
898/898 - 10s - loss: 1.3580 - accuracy: 0.4833 - 10s/epoch - 12ms/step
Epoch 4/100
898/898 - 11s - loss: 1.2859 - accuracy: 0.5125 - 11s/epoch - 12ms/step
Epoch 5/100
898/898 - 12s - loss: 1.2392 - accuracy: 0.5331 - 12s/epoch - 13ms/step
Epoch 6/100
898/898 - 11s - loss: 1.2028 - accuracy: 0.5448 - 11s/epoch - 12ms/step
Epoch 7/100
898/898 - 10s - loss: 1.1615 - accuracy: 0.5618 - 10s/epoch - 11ms/step
Epoch 8/100
898/898 - 10s - loss: 1.1220 - accuracy: 0.5769 - 10s/epoch - 11ms/step
Epoch 9/100
898/898 - 10s - loss: 1.0904 - accuracy: 0.5908 - 10s/epoch - 11ms/step
Epoch 10/100
898/898 - 10s - loss: 1.0642 - accuracy: 0.5975 - 10s/epoch - 11ms/step
Epoch 11/100
898/898 - 10s - loss: 1.0349 - accuracy: 0.6136 - 10s/epoch - 11ms/step
Epoch 12/100
898/898 - 10s - loss: 1.0047 - accuracy: 0.6232 - 10s/epoch - 11ms/step
Epoch 13/100
898/898 - 10s - loss: 0.9795 - accuracy: 0.6356 - 10s/epoch - 11ms/step
Epoch 14/100
898/898 - 10s - loss: 0.9551 - accuracy: 0.6430 - 10s/epoch - 11ms/step
Epoch 15/100
898/898 - 11s - loss: 0.9286 - accuracy: 0.6530 - 11s/epoch - 12ms/step
Epoch 16/100
898/898 - 10s - loss: 0.9126 - accuracy: 0.6590 - 10s/epoch - 11ms/step
Epoch 17/100
898/898 - 10s - loss: 0.8793 - accuracy: 0.6754 - 10s/epoch - 11ms/step
Epoch 18/100
898/898 - 10s - loss: 0.8656 - accuracy: 0.6776 - 10s/epoch - 11ms/step
Epoch 19/100
898/898 - 10s - loss: 0.8464 - accuracy: 0.6847 - 10s/epoch - 11ms/step
Epoch 20/100
898/898 - 10s - loss: 0.8320 - accuracy: 0.6917 - 10s/epoch - 11ms/step
Epoch 21/100
898/898 - 10s - loss: 0.8153 - accuracy: 0.6957 - 10s/epoch - 11ms/step
Epoch 22/100
898/898 - 10s - loss: 0.7934 - accuracy: 0.7041 - 10s/epoch - 11ms/step
Epoch 23/100
898/898 - 10s - loss: 0.7756 - accuracy: 0.7132 - 10s/epoch - 11ms/step
Epoch 24/100
898/898 - 10s - loss: 0.7570 - accuracy: 0.7211 - 10s/epoch - 11ms/step
Epoch 25/100
898/898 - 10s - loss: 0.7400 - accuracy: 0.7250 - 10s/epoch - 11ms/step
Epoch 26/100
898/898 - 10s - loss: 0.7335 - accuracy: 0.7298 - 10s/epoch - 11ms/step
Epoch 27/100
898/898 - 10s - loss: 0.7109 - accuracy: 0.7357 - 10s/epoch - 11ms/step
Epoch 28/100
898/898 - 10s - loss: 0.7087 - accuracy: 0.7370 - 10s/epoch - 11ms/step
Epoch 29/100
898/898 - 10s - loss: 0.6918 - accuracy: 0.7427 - 10s/epoch - 11ms/step
Epoch 30/100
898/898 - 10s - loss: 0.6658 - accuracy: 0.7531 - 10s/epoch - 11ms/step
Epoch 31/100
898/898 - 10s - loss: 0.6644 - accuracy: 0.7534 - 10s/epoch - 11ms/step
Epoch 32/100
898/898 - 10s - loss: 0.6589 - accuracy: 0.7537 - 10s/epoch - 11ms/step
Epoch 33/100
898/898 - 10s - loss: 0.6380 - accuracy: 0.7629 - 10s/epoch - 11ms/step
Epoch 34/100
898/898 - 10s - loss: 0.6313 - accuracy: 0.7673 - 10s/epoch - 11ms/step
Epoch 35/100
898/898 - 10s - loss: 0.6189 - accuracy: 0.7702 - 10s/epoch - 11ms/step
Epoch 36/100
898/898 - 10s - loss: 0.6177 - accuracy: 0.7713 - 10s/epoch - 11ms/step
Epoch 37/100
898/898 - 10s - loss: 0.6109 - accuracy: 0.7746 - 10s/epoch - 11ms/step
Epoch 38/100
898/898 - 10s - loss: 0.5986 - accuracy: 0.7788 - 10s/epoch - 11ms/step
Epoch 39/100
898/898 - 10s - loss: 0.5885 - accuracy: 0.7817 - 10s/epoch - 11ms/step
Epoch 40/100
898/898 - 10s - loss: 0.5754 - accuracy: 0.7877 - 10s/epoch - 11ms/step
Epoch 41/100
898/898 - 10s - loss: 0.5696 - accuracy: 0.7898 - 10s/epoch - 11ms/step
Epoch 42/100
898/898 - 10s - loss: 0.5676 - accuracy: 0.7928 - 10s/epoch - 11ms/step
Epoch 43/100
898/898 - 10s - loss: 0.5609 - accuracy: 0.7929 - 10s/epoch - 11ms/step
Epoch 44/100
898/898 - 10s - loss: 0.5489 - accuracy: 0.7986 - 10s/epoch - 11ms/step
Epoch 45/100
898/898 - 10s - loss: 0.5498 - accuracy: 0.7981 - 10s/epoch - 11ms/step
Epoch 46/100
898/898 - 10s - loss: 0.5350 - accuracy: 0.8021 - 10s/epoch - 11ms/step
Epoch 47/100
898/898 - 10s - loss: 0.5332 - accuracy: 0.8036 - 10s/epoch - 11ms/step
Epoch 48/100
898/898 - 10s - loss: 0.5329 - accuracy: 0.8043 - 10s/epoch - 11ms/step
Epoch 49/100
898/898 - 10s - loss: 0.5118 - accuracy: 0.8143 - 10s/epoch - 11ms/step
Epoch 50/100
898/898 - 10s - loss: 0.5219 - accuracy: 0.8069 - 10s/epoch - 11ms/step
Epoch 51/100
898/898 - 10s - loss: 0.5166 - accuracy: 0.8115 - 10s/epoch - 11ms/step
Epoch 52/100
898/898 - 10s - loss: 0.4995 - accuracy: 0.8176 - 10s/epoch - 11ms/step
Epoch 53/100
898/898 - 10s - loss: 0.5004 - accuracy: 0.8176 - 10s/epoch - 11ms/step
Epoch 54/100
898/898 - 10s - loss: 0.4917 - accuracy: 0.8166 - 10s/epoch - 11ms/step
Epoch 55/100
898/898 - 10s - loss: 0.4943 - accuracy: 0.8198 - 10s/epoch - 11ms/step
Epoch 56/100
898/898 - 10s - loss: 0.4860 - accuracy: 0.8223 - 10s/epoch - 11ms/step
Epoch 57/100
898/898 - 10s - loss: 0.4784 - accuracy: 0.8228 - 10s/epoch - 11ms/step
Epoch 58/100
898/898 - 10s - loss: 0.4734 - accuracy: 0.8286 - 10s/epoch - 11ms/step
Epoch 59/100
898/898 - 10s - loss: 0.4816 - accuracy: 0.8244 - 10s/epoch - 11ms/step
Epoch 60/100
898/898 - 10s - loss: 0.4587 - accuracy: 0.8315 - 10s/epoch - 11ms/step
Epoch 61/100
898/898 - 10s - loss: 0.4629 - accuracy: 0.8324 - 10s/epoch - 11ms/step
Epoch 62/100
898/898 - 10s - loss: 0.4664 - accuracy: 0.8290 - 10s/epoch - 11ms/step
Epoch 63/100
898/898 - 10s - loss: 0.4480 - accuracy: 0.8374 - 10s/epoch - 11ms/step
Epoch 64/100
898/898 - 10s - loss: 0.4544 - accuracy: 0.8348 - 10s/epoch - 11ms/step
Epoch 65/100
898/898 - 10s - loss: 0.4535 - accuracy: 0.8349 - 10s/epoch - 11ms/step
Epoch 66/100
898/898 - 10s - loss: 0.4389 - accuracy: 0.8375 - 10s/epoch - 11ms/step
Epoch 67/100
898/898 - 10s - loss: 0.4404 - accuracy: 0.8387 - 10s/epoch - 11ms/step
Epoch 68/100
898/898 - 10s - loss: 0.4367 - accuracy: 0.8423 - 10s/epoch - 12ms/step
Epoch 69/100
898/898 - 10s - loss: 0.4384 - accuracy: 0.8392 - 10s/epoch - 11ms/step
Epoch 70/100
898/898 - 10s - loss: 0.4294 - accuracy: 0.8414 - 10s/epoch - 11ms/step
Epoch 71/100
898/898 - 10s - loss: 0.4424 - accuracy: 0.8382 - 10s/epoch - 11ms/step
Epoch 72/100
898/898 - 10s - loss: 0.4249 - accuracy: 0.8451 - 10s/epoch - 11ms/step
Epoch 73/100
898/898 - 10s - loss: 0.4262 - accuracy: 0.8460 - 10s/epoch - 11ms/step
Epoch 74/100
898/898 - 10s - loss: 0.4170 - accuracy: 0.8486 - 10s/epoch - 11ms/step
Epoch 75/100
898/898 - 10s - loss: 0.4143 - accuracy: 0.8485 - 10s/epoch - 11ms/step
Epoch 76/100
898/898 - 10s - loss: 0.4133 - accuracy: 0.8517 - 10s/epoch - 11ms/step
Epoch 77/100
898/898 - 10s - loss: 0.4124 - accuracy: 0.8490 - 10s/epoch - 11ms/step
Epoch 78/100
898/898 - 10s - loss: 0.4128 - accuracy: 0.8513 - 10s/epoch - 11ms/step
Epoch 79/100
898/898 - 10s - loss: 0.3947 - accuracy: 0.8559 - 10s/epoch - 11ms/step
Epoch 80/100
898/898 - 10s - loss: 0.4030 - accuracy: 0.8533 - 10s/epoch - 11ms/step
Epoch 81/100
898/898 - 11s - loss: 0.4001 - accuracy: 0.8533 - 11s/epoch - 12ms/step
Epoch 82/100
898/898 - 10s - loss: 0.3992 - accuracy: 0.8554 - 10s/epoch - 11ms/step
Epoch 83/100
898/898 - 10s - loss: 0.3918 - accuracy: 0.8570 - 10s/epoch - 11ms/step
Epoch 84/100
898/898 - 10s - loss: 0.3930 - accuracy: 0.8585 - 10s/epoch - 11ms/step
Epoch 85/100
898/898 - 10s - loss: 0.3958 - accuracy: 0.8577 - 10s/epoch - 11ms/step
Epoch 86/100
898/898 - 10s - loss: 0.3929 - accuracy: 0.8577 - 10s/epoch - 11ms/step
Epoch 87/100
898/898 - 10s - loss: 0.3821 - accuracy: 0.8613 - 10s/epoch - 12ms/step
Epoch 88/100
898/898 - 10s - loss: 0.3909 - accuracy: 0.8553 - 10s/epoch - 11ms/step
Epoch 89/100
898/898 - 10s - loss: 0.3827 - accuracy: 0.8622 - 10s/epoch - 11ms/step
Epoch 90/100
898/898 - 10s - loss: 0.3822 - accuracy: 0.8619 - 10s/epoch - 11ms/step
Epoch 91/100
898/898 - 10s - loss: 0.3761 - accuracy: 0.8612 - 10s/epoch - 11ms/step
Epoch 92/100
898/898 - 10s - loss: 0.3772 - accuracy: 0.8630 - 10s/epoch - 11ms/step
Epoch 93/100
898/898 - 10s - loss: 0.3681 - accuracy: 0.8661 - 10s/epoch - 11ms/step
Epoch 94/100
898/898 - 10s - loss: 0.3698 - accuracy: 0.8638 - 10s/epoch - 11ms/step
Epoch 95/100
898/898 - 10s - loss: 0.3690 - accuracy: 0.8661 - 10s/epoch - 11ms/step
Epoch 96/100
898/898 - 10s - loss: 0.3655 - accuracy: 0.8663 - 10s/epoch - 11ms/step
Epoch 97/100
898/898 - 10s - loss: 0.3773 - accuracy: 0.8621 - 10s/epoch - 11ms/step
Epoch 98/100
898/898 - 10s - loss: 0.3601 - accuracy: 0.8681 - 10s/epoch - 11ms/step
Epoch 99/100
898/898 - 10s - loss: 0.3627 - accuracy: 0.8695 - 10s/epoch - 11ms/step
Epoch 100/100
898/898 - 10s - loss: 0.3593 - accuracy: 0.8707 - 10s/epoch - 11ms/step

In [1]:
# Evaluating the model
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

# 1st trial - Loss: 1.9519965648651123, Accuracy: 0.6375035047531128
# Dropout 20% on each layer
# 2nd trial - Loss: 1.2198774814605713, Accuracy: 0.6517135500907898
# Dropout 40% on each layer
# 3rd trial - Loss: 1.1788020133972168, Accuracy: 0.6213430166244507
# Added three dense layers
# 4th trial - Loss: 1.1446014642715454, Accuracy: 0.5862357020378113
# Changed activation functions from relu to tanh
# 5th trial - Loss: 1.1010137796401978, Accuracy: 0.6258010864257812
# Changed activation functions from tanh to elu
# 6th trial - Loss: 1.3327525854110718, Accuracy: 0.6281694173812866
# Removed dense layers and changed convolution layers from relu to elu
# 7th trial - Loss: 1.3180416822433472, Accuracy: 0.6278907656669617
# Changed to dropout to 50% on each layer, slow learning rate
# 8th trial - 
# Using Data Augmentation, returned learning rate to default.

NameError: ignored

In [16]:
# Saving the model
model.save("emotion_model.h5")

In [17]:
# Loading the model
from tensorflow.keras.models import load_model
emotion_model = load_model('emotion_model.h5')

In [18]:
# Making predictions
predicted = emotion_model.predict(X_test_scaled)
predicted = np.argmax(predicted, axis=1)
predicted

225/225 [==============================] - 1s 3ms/step

array([3, 3, 0, ..., 0, 2, 2])

In [19]:
# Creating a dataframe of the predictions
predicted_df = pd.DataFrame(predicted)
predicted_df = predicted_df.rename(columns={0: "Predicted"})
predicted_df.head()

   Predicted
0          3
1          3
2          0
3          4
4          6

In [20]:
# Creating a dataframe of the actual values
y_test_actual = np.argmax(y_test, axis=1)

# Creating a dataframe of the actual values
y_test_df = pd.DataFrame(y_test_actual, columns=["Actual"])

y_test_df.head()

   Actual
0       3
1       6
2       0
3       4
4       0

In [21]:
# Merging the two dataframes
merged_df = pd.merge(y_test_df, predicted_df, left_index=True, right_index=True)
merged_df.head()

   Actual  Predicted
0       3          3
1       6          3
2       0          0
3       4          4
4       0          6

In [22]:
# Creating a dataframe of the emotions
emotions = ['Angry', 'Disgust', 'Fear', 'Happy', 'Sad', 'Surprise', 'Neutral']
emotions_df = pd.DataFrame(emotions)
emotions_df = emotions_df.rename(columns={0: "Emotions"})
emotions_df.head()

  Emotions
0    Angry
1  Disgust
2     Fear
3    Happy
4      Sad

In [23]:
# Merging the emotions dataframe with the merged dataframe
merged_df = pd.merge(merged_df, emotions_df, left_on='Actual', right_index=True)
merged_df.head()

    Actual  Predicted Emotions
0        3          3    Happy
11       3          3    Happy
25       3          5    Happy
26       3          3    Happy
31       3          3    Happy

In [24]:
# Merging the emotions dataframe with the merged dataframe
merged_df = pd.merge(merged_df, emotions_df, left_on='Predicted', right_index=True)
merged_df.head()

    Actual  Predicted Emotions_x Emotions_y
0        3          3      Happy      Happy
11       3          3      Happy      Happy
26       3          3      Happy      Happy
31       3          3      Happy      Happy
32       3          3      Happy      Happy